#https://stackoverflow.com/a/32150846/6826791
#prevents apache from 404ing routed paths that don't exist as file paths on the server
#enable mod_rewrite: sudo a2enmod rewrite
#restart apache: sudo service apache2 restart
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
  RewriteRule ^ - [L]

  RewriteRule ^ /index.html [L]
</IfModule>
